.intro {
  margin: 0 0.75rem;
  padding: 40px;
  background: var(--white);
  display: flex;
  align-items: center;
  gap: 100px;
  position: relative;
  
  @media (max-width: 768px) {
    margin: 0;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  &__left {
    display: flex;
    flex-direction: column;
    max-width: 500px;
  }

  &__title, &__desc, &__sub, &__insert {
    color: var(--black);
  }

  &__desc {
    margin-top: 1.5rem;
  }

  &__sub {
    font-size: 0.75rem;
    margin-top: 150px;

    @media (max-width: 768px) {
      margin-top: 0.75rem;
    }

  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__insert {
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  &__mobile {
    display: none;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__desktop {
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
      display: none;
    }
  }
}